.catalog{
    width: 90%;
    display:flex;
    flex-direction: column;
    margin: 10px 40px;
}


.catalog-items{
    display: flex;
    justify-content: center;    
    gap: 50px;
    flex-wrap: wrap;
}

.pagination{
    display: flex;
    justify-content: center;
    padding:80px;
}

.add-to-deck{
    margin-top:20px
}

@media(max-width: 425px){
    .catalog{
        margin: 10px;
    }
}