.modaladd{
    display: flex;
    flex-direction: column;
    padding: 12px;
    z-index: 100000;
    border: 1px solid #000;
    border-radius:20px;
    width: 400px;
    height:300px;
    // overflow-x:auto;
    background:#000;
    // opacity: 0.9;
    position:absolute;
    top: 1;
    // margin-right:-600px;
}