.decks-layout{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.decks {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    gap:20px
}

.card-layout{
    gap: 20px;
    margin-bottom: 20px;
}

.card-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    padding:8px
}

.deck{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 1px solid #000;
    background: #000;
    border-radius: 40px;
    padding:8px;
    gap:20px;
    >h1 {
        color: #fff
    }
}
.deck-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    margin:0 4px;
    padding:8px;
}
